# Don't track build directories
icgrep-build/
libllvm
llvm-build/
debug-build/
# Don't track LLVM source
llvm-[0-9].[0-9].[0-9].src/

# Don't track backup files
*.bak
*.kate-swp
*~
.DS_Store
#
# Don't track IDE files
*.files
*.config
*.creator.user
*.creator
*.includes
